	body
	{
	margin: 0;
	padding: 0;
	background: url('Analysis.jpg') no-repeat center fixed;
	background-size: cover;
	font-family: sans-serif;
	}
	input[type=submit],a:link, a:visited 
		{
  	background-color:#ff8c00;
  	color: white;
  	padding: 15px 25px;
  	text-align: center;
  	text-decoration: none;
  	display: inline-block;
	width:84%;
		}
     a:hover, a:active {
 	 background-color: SKYBLUE;
		}
	header{padding: 5px; position: fixed;}

	.loginbox
		{
			position: absolute;
			top: 60%;
			left: 50%;
			transform: translate(-50%,-50%);
			width: 400px;
			height: 475px;
			box-sizing: border-box;
			padding: 70px 40px;
			background: rgba(0, 0, 0, 0.5);
		}
	.logo
		{
		width: 100px;
		height: 100px;
		overflow: hidden;
		position: absolute;
		top: calc(-100px/2);
		left: calc(50% - 50px);
		}
	h2
	{
		margin: 0;
		padding: 0 0 26px;
		text-align: center;
		color: #ff8c00;
		font size: 22px;	
	}
	.loginbox input
	{
		width: 100%;
		margin-bottom: 20px;	
	}
	span.b
     {
  display: inline-block;
  width: 100px;
  height: 100px;
  padding: 5px;
     }